:root {
    --falseColor: red;
    --prof: #302244;
    --dash: #141717;
    --grincheux: white;
    --goodColor: green;
    --violet1: #6a0be5;

    --joyeux: #7f05ff;
    --simplet: #3a1f57; /* Violet plus clair */
    --timide: #444654; /* Noir-Gris foncé */
    --dormeur: grey; /* Noir-Gris clair */
    --atchoum: #b7b7b7; /* Blanc */
}

/*============CLASSE INDEX=============  */
.index-fond {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(var(--atchoum), var(--prof));
}

.index-fond > h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(var(--joyeux), var(--prof));
    -webkit-background-clip: text;
    filter: drop-shadow(0px 0px 10px var(--atchoum));
    -webkit-text-fill-color: transparent;
}


.welcometxt {
    font-family: monospace;
    font-weight: bolder;
    white-space: nowrap;

    overflow: hidden;
    animation: typing 2s steps(20);
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 20ch;
    }
}

.class-1, .class-5, .class-2, .class-3, .class-4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(to right, var(--joyeux), var(--prof));

}

.class-1, .class-5 {
    animation: rotate 5s linear infinite;
}

.class-2, .class-4 {
    animation: taille1 5s linear infinite;
}

.class-3 {
    animation: taille2 5s linear infinite;
}

@keyframes taille1 {
    0% {
        height: 250px;
        rotate: y 0deg;
    }
    50% {
        height: 45vh;
    }
    100% {
        height: 250px;
        rotate: y 360deg;
    }
}

@keyframes taille2 {
    0% {
        height: 250px;
        rotate: y 0deg;
    }
    50% {
        height: 65vh;
    }
    100% {
        height: 250px;
        rotate: y 360deg;
    }
}

@keyframes rotate {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 360deg;
    }
}

@media only screen and (max-width: 1350px ) {
    .class-1, .class-5, .class-2, .class-3, .class-4 {
        width: 210px;
        height: 210px;
    }
}

@media only screen and (max-width: 1080px ) {
    .class-1, .class-5, .class-2, .class-3, .class-4 {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 780px ) {
    .class-1, .class-5, .class-2, .class-3, .class-4 {
        width: 78px;
        height: 78px;
    }

    @keyframes taille1 {
        0% {
            height: 250px;
            rotate: y 0deg;
        }
        50% {
            height: 30vh;
        }
        100% {
            height: 250px;
            rotate: y 360deg;
        }
    }
    @keyframes taille2 {
        0% {
            height: 250px;
            rotate: y 0deg;
        }
        50% {
            height: 50vh;
        }
        100% {
            height: 250px;
            rotate: y 360deg;
        }
    }
}

/*============CLASSE GENERALE=============  */
body {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.no-scroll {
    overflow-y: hidden;
}

.ps-abs {
    position: absolute
}

.ps-rel {
    position: relative
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center
}

a {
    text-decoration: none;
}

.z-1 {
    z-index: 1
}

.z--1 {
    z-index: -1
}

img {
    border-radius: 50%;
    border: var(--timide) 2px solid;
}

/*============STYLE MENU=============  */
.navbarMain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--timide);
}

.fond {
    position: absolute;
    right: 0%;
    width: 85%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.lien-container2 {
    display: none;
}

.lien-container2 > div {
    display: none;
}

.lien-container, .lien-container2 {
    display: flex;
    flex-direction: column;
}

.lien-menu {
    text-decoration: none;
    text-align: center;
    color: var(--grincheux);
}

.navbarResponsiv {
    display: none;
}

#menuNavbar {
    width: 15%;
    height: 100%;
    background: linear-gradient(to top, var(--prof) 20%, rgba(255, 255, 255, 0.16) 50%);;
    box-shadow: 0px 0px 10px inset var(--simplet);
}

#iconeBack {
    font-size: 0;
}

.burger-container {
    width: 79px;
    height: 79px;
    display: none;
}

.fondburger, .menu-fond, .menuResponsive {
    border: var(--simplet) 1px solid;
    background: linear-gradient(var(--prof), var(--simplet));
}

.menu-fond {
    width: 100%;
    height: 18%;

}

.menuResponsive {
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: width 1s;
}

.lien-menu {
    text-decoration: none;

}

.entrance-left, .entrance-right {
    animation: entranceleft 2s ease 0s 1 normal forwards;
}

@keyframes entranceleft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }
    70% {
        transform: scale3d(1, 1, 1);
    }

    75% {
        transform: scale3d(1.2, 0.6, 1);
    }

    80% {
        transform: scale3d(0.6, 1.2, 1);
    }

    85% {
        transform: scale3d(1.08, 0.92, 1);
    }

    90% {
        transform: scale3d(0.92, 1.08, 1);
    }

    95% {
        transform: scale3d(1.04, 0.96, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes entranceright {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }
    70% {
        transform: scale3d(1, 1, 1);
    }

    75% {
        transform: scale3d(1.2, 0.6, 1);
    }

    80% {
        transform: scale3d(0.6, 1.2, 1);
    }

    85% {
        transform: scale3d(1.08, 0.92, 1);
    }

    90% {
        transform: scale3d(0.92, 1.08, 1);
    }

    95% {
        transform: scale3d(1.04, 0.96, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}


@media only screen and (max-width: 1048px) {
    .entrance-left {
        animation: entranceleft 2s ease 0s 1 normal forwards;
    }

    .entrance-right {
        animation: entranceright 2s ease 0s 1 normal forwards;
    }

    .ouvert {
        width: 100vw !important;
    }

    .fond {
        height: 200vh;
        top: 10vh;
        width: 100%;
        transition: width 1s;
    }

    #menuNavbar {

        width: 100%;
        height: 10%;
        border: var(--simplet) 1px solid;
        background: linear-gradient(to right, var(--prof) 20%, var(--simplet) 120%)
    }

    .ouvert > .lien-container {
        display: flex;

    }

    .lien-container {
        display: none;
    }

    .lien-container2 {
        display: none;
    }

    .lien-container2 > div {
        display: flex;
    }

    .menuResponsive {
        background: linear-gradient(to top, var(--joyeux) -20%, rgba(255, 255, 255, 0.16) 20%);
    }

    .navbarResponsiv {
        display: flex;
    }


}
