.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "compteEsd-profil"
    "compteEsd-Followers";
}

.container > div {
    color: var(--atchoum);
    padding: 19px;
    margin: 8px;
    border-radius: 20px;
    border: var(--simplet) 3px solid;
    background: linear-gradient(var(--prof), var(--simplet));
}
.compteEsd-Followers { grid-area: compteEsd-Followers; }

.compteEsd-profil { grid-area: compteEsd-profil; }
