.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "villeSearch villeSearch villeSearch"
    "villeNom villeNom villeCoordHoraire"
    "villeNom villeNom villeCoordHoraire"
    "villeTemp villeDesc villeCoordVent";
    color: var(--grincheux);
}

img {
    border-radius: 50%;
    border: 0
}

.container > div {
    color: var(--atchoum);
    padding: 19px;
    margin: 8px;
    border-radius: 20px;
    border: var(--simplet) 3px solid;
    background: linear-gradient(var(--prof), var(--simplet));
}

.boutonVille > button, #nameVille, #submitbutton {
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
    padding: 14px;
    margin: 7px;
    border: var(--prof) 2px solid;
}

.boutonVille > button {
    background-color: var(--joyeux);
    color: var(--grincheux);
}

#nameVille, #submitbutton {
    background-color: var(--atchoum);
    color: var(--prof);
    border: var(--prof) 2px solid;
}

#nameVille::placeholder {
    color: var(--prof);
}

.villeSearch {
    grid-area: villeSearch;
}

.villeNom {
    grid-area: villeNom;
}

.villeCoordHoraire {
    grid-area: villeCoordHoraire;
}

.villeTemp {
    grid-area: villeTemp;
}

.villeDesc {
    grid-area: villeDesc;
}

.villeCoordVent {
    grid-area: villeCoordVent;
}


@media only screen and (max-width: 1048px) {


    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-template-areas:
    "villeSearch"
    "villeNom"
    "villeCoordHoraire"
    "villeTemp"
    "villeDesc"
    "villeCoordVent";
    }

}

